<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rsp stat="ok">
<list>
<widget id="oldtube">
<title>OldTube</title>
<compression size="FILESIZE" type="zip"/>
<description>A YouTube app replacement</description>
<download>http://IP/widget.zip</download>
</widget>
</list>
</rsp>
