body {
	font-size: 30px;
	color: white;
	background: #1D357C;
	margin: 0;
	padding: 0;
	position: relative;
}

.section {
	width: 1920px;
	height: 1080px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.tab-section {
	width: 1920px;
	height: 980px;
}

nav {
	font-size: 35px;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
}

nav a {
	margin-right: 10px;
	padding: 10px 20px;
}

.search-bar {
	padding: 10px 20px;
}

.search-bar input {
	width: 30%;
}

.search-bar label {
	width: 120px;
	display: inline-block;
}

.search-bar small {
	display: block;
	padding-left: 120px;
	padding-top: 10px;
}


input {
	font-size: 30px;
	padding: 10px 16px;
	height: 60px;
	line-height: 1.3333333;
	border-radius: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 10px 20px;
}

.active {
	border: 3px solid #D8A638;
}

.selected {
	background: #D8A638;
	color: black;
}

h2 {
	margin: 0;
	width: 1500px;
 	white-space: nowrap;
 	overflow: hidden;
	text-overflow: ellipsis;
}

.video-item p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-height: 2.2em;
}

.thumb {
	width: 320px;
	text-align: center;
}

.thumb img {
	max-width: 100%;
	max-height: 180px; 
}

.pull-left {
	float: left;
	margin-right: 20px;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.video-title {
	position: absolute;
	top: 25px;
	left: 20px;
	right: 20px;
	width: 1870px;
	padding: 5px;
	visibility: visible;
	background-color:rgba(0, 0, 0, 0.5);
}


.progress-bar {
	position: absolute;
	bottom: 25px;
	height: 30px;
	width: 1920px;
	opacity: 0.6;
	padding: 0 20px;
	margin: 0;
	visibility: visible;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.progress-bar progress {
	width: calc(100% - 40px);
	height: 100%;
}

progress {
	-webkit-appearance: none;
}

progress::-webkit-progress-bar {
	background-color: #555;
}

progress::-webkit-progress-value {
	background-color: #f00;
	height: 100%;
}

.popup {
	position: absolute;
	width: 50%;
	left: 25%;
	right: 25%;
	top: 300px;
	font-size: 50px;
	z-index: 100000;
	background: black;
	border: 2px solid gray;
	padding: 20px;
}

.popup .buttons {
	text-align: center;
}

.button {
	background: #D8A638;
	color: black;
	padding: 10px;
	text-decoration: none;
}

